.wrapper {
  box-sizing: border-box;
  /* min-height: 100%; */
  width: 100%;
  padding: 20px;
}

/* .wrapper > div {
  padding: 10px;
} */

/* Когда поле нельзя редактировать */
input[readonly] {
  background-color: #f0f0f0; /* Серый фон */
  border-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

/* Когда поле открыто для редактирования (после нажатия кнопки) */
input:not([readonly]) {
  background-color: var(--cinema-whiteish);
  border-color: var(--blue);
  cursor: text;
}

/* main {
  background-image: url("../kuvat/option1Blue.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  overflow: hidden;
}
 */
