.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; /* Centers the columns */
  gap: 40px; /* Adds space between columns */
  align-items: flex-start; /* Prevents stretching */
}

/* - - - BUTTONS additions/overrides from global - - - */
#edit-btn,
#save-btn {
  width: 75%;
  margin-top: 10px;
  margin-left: var(--form-label-width);
}

#deleteaccount-btn {
  padding: 0.85em 1.15em;
}
/* - - - /BUTTONS - - - */

/* - - - - - - VARAUKSET - - - - - - */
.varaukset {
  box-sizing: border-box;
  /* background-color: var(--blue); */
  /* border: 1px; */
  border-radius: 20px;
  background-color: var(--cinema-whiteish);

  /* min-height: 100%; */
  width: 100%;

  /* border: var(--cinema-pink) solid 4px; */
  box-shadow: inset 0 0 40px 5px var(--cinema-pink);

  padding: 20px;
  margin: auto;
  /* transition: var(--transition); */
}
/* - - - - - - /VARAUKSET - - - - - - */

/* JS shii */
/* input[readonly] {
  background-color: #f0f0f0; 
  border-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}
input:not([readonly]) {
  background-color: var(--cinema-whiteish);
  border-color: var(--blue);
  cursor: text;
} */

/* - - - - - - FORM - - - - - - */
form {
  width: min(400px, 100%);
  margin: 10px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
}

form h1 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font: 2rem; /* 2 times the initial font size */
  font-weight: 525; /*repeats later!*/
  margin-left: var(--form-label-width);
}

form > div {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: var(--form-label-width);
  background-color: var(--cinema-red2);
  /* fill: var(--cinema-red2); */
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center; /*OOO THIS YES*/
  align-items: center;
}

form input {
  box-sizing: border-box; /* for consistent size */
  flex-grow: 1; /* to have responsive resizing of the element */
  min-width: 0; /* to have responsive resizing of the element */
  height: 50px;
  padding: 1em;
  /* font: inherit; */
  border-radius: 0 10px 10px 0;
  border: 3px solid var(--cinema-red2);
  border-left: none;
  background-color: var(--cinema-whiteish);
  transition: 150ms ease;
}

form input:hover {
  border-color: var(--cinema-pink);
}
form div:has(input:hover) label {
  background-color: var(--cinema-pink);
}

form input:focus {
  outline: none;
  border-color: var(--cinema-red1);
}
form div:has(input:focus) label {
  background-color: var(--cinema-red1);
}

form input::placeholder {
  color: var(--cinema-pink);
}
/* - - - - - - /FORM - - - - - - */
