/* равный размерб поширеб посередине columns */
main {
  min-height: 100vh;
  background-image: url("../kuvat/shtukaturka.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.wrapper {
  box-sizing: border-box;
  background-color: var(--cinema-whiteish-tr);
  min-height: 100vh;
  width: max(40%, 600px);

  border: var(--cinema-whiteish-tr) solid 2px;
  border-radius: 0 20px 20px 0;

  padding: 10px;
}

h1 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  /* font-variant: small-caps; */
  font: 2rem; /* 2 times the initial font size */
  font-weight: 525;
  margin: 0;
}

form {
  width: min(500px, 100%);
  display: flex;
  flex-direction: column;
  align-content: space-around;
  gap: 10px;
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box; /* for consistent size */
  /* to have responsive resizing of the element */
  flex-grow: 1;
  min-width: 0;

  height: 50px;
  padding: 1em;

  border-radius: 10px;
  border: 3px solid var(--base-color);
  background-color: var(--cinema-whiteish);
  transition: 150ms ease;
}

/* Specific overrides for textarea */
textarea {
  min-height: 100px;
  resize: vertical; /* Better alternative to field-sizing for browser support */
}

/*
select {
}
*/

/* form label {
} */

/* form button {
} */

/* hover stuff */
