/* равный размерб поширеб посередине columns */
main {
  min-height: 100%;
  background-image: url("../kuvat/shtukaturka.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.wrapper {
  box-sizing: border-box;
  background-color: var(--cinema-whiteish-tr);
  min-height: 100%;
  width: 77%;
  border: var(--cinema-whiteish-tr) solid 2px;
  border-radius: 40px;

  padding: 20px;
  margin: auto;
}

h1 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  /* font-variant: small-caps; */
  font: 2rem; /* 2 times the initial font size */
  font-weight: 525;
  margin: 0;
  flex-basis: 100%; /* Forces the heading to take the full width row */
}

form {
  width: min(900px, 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Allows wrapping on small screens (mobile friendly) */
  gap: 10px; /* Space between column 1 and column 2 */
  align-items: stretch;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.group > div {
  /* display: flex;
  align-items: flex-end;
  flex-wrap: wrap; */
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end; /* Keeps inputs aligned at the bottom */
  flex: 1 1 200px; /* Grow, shrink, and a reasonable base width */
}

/* БЛЯТЬ НЕ РАБОТАЕТ НАДО ЧТОБЫ ОНО БЫЛО 70.30 Ф НЕ 50.50  */
.name-age:first-child,
.type-place:first-child {
  flex: 7 1 70%;
}
.name-age:last-child,
.type-place:last-child {
  flex: 3 1 30%;
}

input,
textarea,
select,
.fileInputField {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;

  height: 50px;
  padding: 1em;

  font-family: inherit;

  border-radius: var(--border-radius);
  border: 3px solid var(--base-color);
  background-color: var(--cinema-whiteish);
  transition: var(--transition);
}

/* - Specific overrides - */
input[type="file"] {
  min-height: fit-content;
}
select {
  min-height: fit-content;
  padding: 0;
  padding-left: 1em;
}
textarea {
  height: auto;
  min-height: 100px;
  resize: vertical; /* Better alternative to field-sizing for browser support */
}

form button {
  width: 100%;
  margin: 20px 0;
  padding: 0.85em 4em; /* em refers to the font size of the element; 4 times */
  border: none;
  border-radius: 10px;
  font-weight: 500;
  color: var(--cinema-whiteish);
  background-color: var(--red); /* color change?*/
  transition: var(--transition);
  cursor: pointer;
}

/* div for the image and file input */
.fileInputField {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
}
.fileInputField input {
  width: 50%;
}
.fileInputField img {
  width: 40%;
}
/* file input */
.eventPictureInput {
  border: 0px;
}

/*
select {
}
*/

/* form label {
} */

/* form button {
} */

/* hover stuff */
