main {
  padding: 10px;
}

/* div for the table and input field */
.booking {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

/* - - - START TABLE / SEATS SETTINGS - - - */
table {
  border: 2px solid var(--base-color); /* Outer border */
  border-collapse: collapse; /* Ensures no double borders */
}

caption /* = the näytto */ {
  caption-side: top; /* Places caption above the table */
  color: var(--cinema-whiteish);
  text-align: center;
  padding: 0;
  background-color: var(--base-color);
}

th,
td {
  border: none; /* No inner borders */
}

td {
  width: 60px;
  height: 60px;
  /* This "masks" the cell into the shape of your seat */
  mask: url("../UI_icons/chair_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg") no-repeat center;
  -webkit-mask: url("../UI_icons/chair_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg") no-repeat center;
  background-color: #2ecc71; /* Default: Free (Green) */
  cursor: pointer;
}

/* Booked state */
td.booked {
  background-color: #e74c3c; /* Red */
  cursor: not-allowed;
}

/* Selected state */
td.selected {
  background-color: #3498db; /* Blue */
}
/* - - - END SEATS SETTINGS - - - */

.bookingInfo {
  flex-grow: 1;
}
.bookingInfo p {
  text-align: center;
}
.bookingInfo form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backToEvents {
  display: none;
}
