@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");

:root {
  /* main palette */
  --head-foot: #1d1d1cff;
  --base-color: #34342e;
  --darkblue: #384a50;
  --blue: #4fa1a1;
  --lighterblue: rgb(116, 186, 186);
  --lightblue: #a6d1d1;
  --orange: #e78a1f;
  --beige: rgb(246, 243, 215);
  --pinkish: #fdf2f2;

  --event1: rgb(132, 200, 107);
  --event2: #e78a1f;
  --event3: rgb(116, 186, 186);

  /* From the cinema_seats.jpg */
  --cinema-red1: #7e1605ff;
  --cinema-red2: #a52108ff;
  --cinema-pink: #dc3545;
  --cinema-brown: #322317ff;
  --cinema-whiteish: #f8f7f3ff;
  --cinema-whiteish-tr: rgba(248, 247, 243, 0.804);
  --cinema-whiteish-trtr: rgba(248, 247, 243, 0.4);
  /* --cinema-grey: #b7c2cbff; */

  /* self-explanatory */
  --border-radius: 10px;
  --transition: 200ms ease;
  --form-label-width: 50px;
}

/* some default values to override any browser settings - START */
html {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*,
*::before,
*::after {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  flex: 1;
  width: 100%;
  /* padding по периметру чтоб элементы не были впритык к концам экрана:
  Top & Bottom: 0, Left & Right: 5px */
  /* padding: 0 5px; */
  /* Ensuring the padding doesn't make the page wider than the screen */
  /* box-sizing: border-box; */
  background-color: var(--cinema-whiteish);
}

h1 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font: 2rem;
  font-weight: 525;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--head-foot);
  color: white;
  height: min-content;
}
header a {
  align-self: center;
  margin-right: 7px;
}

.otsikko img {
  padding: 0px 10px;
  height: 50px;
}

.otsikko {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.otsikko img,
.otsikko h2 {
  align-self: center;
  margin: 0px;
  align-self: center;

  font-family: MonteCarlo, sans-serif;
  font-size: 100;
  vertical-align: auto;
}

footer {
  width: 100%;
  background-color: var(--head-foot);
  color: white;
  text-align: center;
  /* margin-top: auto; */
  padding: 7px;
}
footer a {
  display: block;
}
footer p {
  margin-top: 5px;
  margin-bottom: 4px;
}

main a {
  display: block;
  margin: auto;
}

/* LINKS TO PAGES IN HEADER - START. Will be deleted later */
/* Dropdown Button */
.navButton {
  background-color: #303030;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.temporaryNavigation {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.linksToPages {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.linksToPages a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.linksToPages a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.temporaryNavigation:hover .linksToPages {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.linksToPages:hover .navButton {
  background-color: #3e8e41;
}
/* LINKS TO PAGES IN HEADER - END */

/* a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
} */

/*----------------------------------------------------------------------------*/

/* - - - START GLOBAL form BUTTON SETTINGS - - - */
button {
  padding: 0.85em 4em;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--darkblue);
  color: var(--cinema-whiteish);
  transition: var(--transition);
}

button:hover,
.button:hover {
  cursor: pointer;
  background-color: var(--cinema-pink);
}
/* - - - END GLOBAL BUTTON SETTINGS - - - */

/* - - - START GLOBAL LINK-AS-BUTTON SETTINGS - - - */
.button {
  padding: 0.5em 1em;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background-color: var(--darkblue);
  color: var(--cinema-whiteish);
  transition: var(--transition);
}

.button:hover {
  cursor: pointer;
  background-color: var(--cinema-pink);
}
/* - - - END GLOBAL LINK-AS-BUTTON SETTINGS - - - */
