H2 

/* WE DONT HAVE upcomingEvents class */
/* .upcomingEvents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.upcomingEvents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 15px;
} */

.about {
  background-image: url(../IMAGES/outsideKinosalonki.jpg);
  background-size: cover;
  padding: 50px;
  width: 100%;
  height: auto;
}

/* .photos {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}
.photos img {
  width: 32%;
  height: auto;
} */

.about p {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px; */
  padding: 10px;
  font-size: 2vw;
}

/* ========================================
   TODAY'S EVENTS
   ======================================== */

.eventsToday {
  margin-bottom: 5px;
  margin: auto;
}
.eventsToday tr {
  border: solid black 1px;
  border-radius: 10px;
}
.eventsToday tr :hover {
  cursor: pointer;
}
.eventsToday td {
  padding: 7px;
}

/* ========================================
   EVENT LIST CONTAINER
   ======================================== */

/* .eventList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 20px;
  gap: 10px;
  max-width: 100%;
  z-index: 1;
}

.eventList .button {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
} */
