/* CAREFUL WITH CHANGING height: 50px;*/

main {
  min-height: 100vh;
  background-image: url("../kuvat/cinema_seats.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  overflow: hidden;

  margin: 0px;
  padding: 0px;
  text-align: center;
}

.wrapper {
  box-sizing: border-box;
  background-color: var(--cinema-whiteish-tr);
  min-height: 60vh;
  /*width: 40% wide with with a midwith of 600px*/
  width: max(40%, 600px);
  border-radius: 20px;
  border: var(--cinema-whiteish) solid 2px;
  margin: auto;
  margin-top: 5%;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: min(400px, 100%);
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form h1 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font: 2rem; /* 2 times the initial font size */
  font-weight: 525; /*repeats later!*/
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--cinema-red2);
  /* fill: var(--cinema-red2); */
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center; /*OOO THIS YES*/
  align-items: center;
}

form input {
  box-sizing: border-box; /* for consistent size */
  flex-grow: 1; /* to have responsive resizing of the element */
  min-width: 0; /* to have responsive resizing of the element */
  height: 50px;
  padding: 1em;
  /* font: inherit; */
  border-radius: 0 10px 10px 0;
  border: 3px solid var(--cinema-red2);
  border-left: none;
  background-color: var(--cinema-whiteish);
  transition: 150ms ease;
}

form input:hover {
  border-color: var(--cinema-pink);
}

form div:has(input:hover) label {
  background-color: var(--cinema-pink);
}

form input:focus {
  outline: none;
  border-color: var(--cinema-red1);
}

form div:has(input:focus) label {
  background-color: var(--cinema-red1);
}

form input::placeholder {
  color: var(--cinema-pink);
}

form button {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 0.85em 4em; /* em refers to the font size of the element; 4 times */
  background-color: var(--darkblue);
  width: 75%;
  color: var(--cinema-whiteish);
  font-weight: 500;
  transition: var(--transition);
}

form button:hover {
  background-color: var(--cinema-pink);
}

p a {
  color: var(--cinema-red2);
  font-weight: bold;
  margin-top: 18px;
  display: inline;
}
p a:hover {
  color: var(--cinema-pink);
}
