.top {
  /* The first value is the color ON TOP, the second is the image BEHIND it */
  background-image:
    linear-gradient(var(--head-foot-tr), var(--head-foot-tr)),
    url("../kuvat/shtory_red.jpg");
  /* background-image: url("../kuvat/shtory_red.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
  overflow: hidden;

  height: 300px;
  padding: 5% 0;
  gap: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* The "Brought Forward" Shadow 
     Syntax: horizontal vertical blur color */
}
div.top h1 {
  text-align: center;
  margin: 0;
  color: var(--cinema-whiteish);
  font-size: 4rem;
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.4),
    0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* - - - SEARCH BAR aka a list of actions for events on the page Tapahtumat */
.eventListActions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: fit-content;
  border-radius: 40px;
  padding: 0 5px;
  background-color: var(--cinema-whiteish);
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.4),
    0px 0px 20px rgba(0, 0, 0, 0.5);
}
.eventListActions form {
  display: flex;
  flex-flow: row nowrap;
}
.eventListActions label {
  border: none;
  background-color: var(--cinema-whiteish);
  /* height: 100%; */
  display: inline-block;
  height: 48px;
  width: 48px;
  padding: 10px;
  border-radius: 40px;
}
.eventListActions input {
  border: none;
  background-color: var(--cinema-whiteish);
  height: 100%;
  display: inline-block;
  padding: 0 5px;
  height: 48px;
  width: 300px;
}

button.filterButton,
button.sortButton {
  border: none;
  border-radius: 0;
  background-color: var(--cinema-whiteish);

  height: 48px;
  width: 48px;
  padding: 10px;
  border-radius: 40px;
  transition: var(--transition);
}

/* - - - /SEARCH BAR - - - take from the .top some */

/* in the .top */
.searchAndSort {
  display: flex;
  flex-flow: row nowrap;
}

/* dropdown for the sorting button */
.eventSorting,
.eventFiltering {
  position: relative;
  display: inline-block;
}
/* the same size for all of the options in sorting + remove rounded borders on the left side */
.eventSorting a {
  width: 140px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
/* the same size for all of the options in filtering */
.eventFiltering a {
  width: 170px;
}

/* dropdown content (hidden by default) */
.sortingOptions,
.filteringOptions {
  display: none;
  position: absolute;
  box-sizing: border-box;
  /* min-width: 140px; */
  z-index: 1;
  margin: 0px;
}
/* dropdown block in filtering */
.filteringOptions {
  right: 0%;
  width: 200px;
  background-color: #ffffff;
  /* padding: 5px; */
  border: rgb(13, 202, 240) solid 1px;
}
.filteringOptions p {
  vertical-align: middle;
  margin: 0px;
  margin-bottom: 4px;
}
/* buttons inside dropdown */
.sortingOptions a,
.filteringOptions a {
  background-color: #ffffff;
  color: #384a50;
  border: rgb(13, 202, 240) solid 1px;
  border-collapse: collapse;
  padding: 7px 10px;
  margin: 0px;
  text-decoration: none;
  display: block;
}
.filteringOptions a {
  margin-bottom: 4px;
  border-radius: 3px;
}
/* different padding for filering menu */
.filteringOptions a {
  padding: 5px 7px;
}
/* Show the dropdown menu on hover */
.eventSorting:hover .sortingOptions,
.eventFiltering:hover .filteringOptions {
  display: block;
}
.sortingOptions a:hover,
.filteringOptions a:hover {
  background-color: rgb(13, 202, 240);
  color: black;
}

#removeFilterButton {
  border-color: #dc3545;
}
#removeFilterButton:hover {
  background-color: #dc3545;
  color: #ffffff;
}
/* /in the .top */

/* - - - - - - EVENTS LIST  - - - - - - */
/* a list of events on the page Tapahtumat */
.eventList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 20px;
  gap: 10px;
  max-width: 100%;
  z-index: 1; /* Ensures it stays on top */
}

.eventList .eventInfo {
  background-color: var(--cinema-grey);
  color: var(--darkblue);
}
.eventList h3 {
  color: var(--base-color);
}
.eventInfo {
  border-radius: 10px;
}

/* event field (contains information about event and edit/delete -tools for admin) */
.event {
  width: 99%;
  min-height: 180px;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  align-items: stretch;
  margin: auto;
  gap: 2px;
}
/* div with all information about event */
.eventInfo {
  flex-grow: 1;
  /* max-width: 95%; */
  display: grid;
  grid-template-areas:
    "header header date"
    "image description description";
  grid-template-columns: auto 1fr;
  padding: 10px;
  transition: var(--transition);
}
.eventInfo .event_header {
  grid-area: header;
}
.eventInfo .event_date {
  grid-area: date;
}
.eventInfo img {
  display: inline-block;
  grid-area: image;
  width: 125px;
  padding: 5px;
  margin: auto;
  align-self: center;
}
.eventInfo p {
  grid-area: description;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  hyphens: auto;
}
.eventInfo:hover {
  cursor: pointer;
  background-color: var(--lighterblue);
}
/* - - - - - - /EVENTS LIST  - - - - - - */

/* - - - - - - ADMIN TOOLS - - - - - - */
/* div with links to edit and delete event*/
.adminTools {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  /* gap: 5px; */
}
.adminTools a {
  flex: 1;
  text-decoration: none;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.adminTools a {
  color: var(--cinema-whiteish);
  transition: var(--transition);
}
.adminTools > :first-child,
.adminTools > :first-child:focus {
  background-color: var(--darkblue);
}
.adminTools > :last-child,
.adminTools > :last-child:focus {
  background-color: var(--base-color);
}
.adminTools > :first-child:hover {
  background-color: var(--orange);
}
.adminTools > :last-child:hover {
  background-color: var(--cinema-pink);
}

/* - - - - - - /ADMIN TOOLS - - - - - - */

@container (max-width: 560px) {
  div.top h1 {
    font-size: 2.5rem;
  }
}
