header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header a {
  align-self: center;
  margin-right: 7px;
}

.otsikko {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.otsikko img,
.otsikko h1 {
  align-self: center;
}

.eventListActions {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.eventList div {
  width: 100%; /* надо будет добавить что-нибудь вроде display: grid для отображения дат в одной строке с заголовком, но наверно это уже завтра */
}

a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder; /* пока не до конца поняла, как именно работают эти штуки. Чуть позже почитаю материал */
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(219, 204, 204);
  color: rgb(0, 0, 0);
  text-align: center;
}
