@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --header-color: #1d1d1cff;
  --base-color: #34342e;
  --1-color: #384a50;
  --2-color: #a6d1d1;
  --3-color: #e78a1f;
  --4-color: #d32402;

  --beige: rgb(255, 248, 234);

  /* CSS HEX */
  --atomic-tangerine: #ff6b35ff;
  --peach-glow: #f7c59fff;
  --steel-azure: #004e89ff;
  --baltic-blue: #1a659eff;
}

* {
  font-family: Poppins, sans-serif;
}

main {
  /* padding по периметру чтоб элементы не были впритык к концам экрана:
  Top & Bottom: 0, Left & Right: 20px */
  padding: 0 5px;
  /* Ensuring the padding doesn't make the page wider than the screen */
  box-sizing: border-box;
  background-color: var(--beige);
}

.eventList div {
  background-color: var(--2-color);
  color: var(--1-color);
}

.eventList h3 {
  color: var(--base-color);
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--header-color);
  color: white;
  height: min-content;
}
header a {
  align-self: center;
  margin-right: 7px;
}

.otsikko img {
  padding: 0px 10px;
  height: 50px;
}

.otsikko {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.otsikko img,
.otsikko h2 {
  align-self: center;
  margin: 0px;
  align-self: center;
}

.footer {
  width: 100%;
  background-color: rgb(219, 204, 204);
  color: rgb(0, 0, 0);
  text-align: center;
}
.footer a {
  display: block;
}
.footer p {
  margin-top: 5px;
  margin-bottom: 4px;
}

/* LINKS TO PAGES IN HEADER - START. Will be deleted later */
/* Dropdown Button */
.navButton {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.temporaryNavigation {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.linksToPages {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.linksToPages a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.linksToPages a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.temporaryNavigation:hover .linksToPages {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.linksToPages:hover .navButton {
  background-color: #3e8e41;
}
/* LINKS TO PAGES IN HEADER - END */

/* OPTION 1: grid layout */
.frontpageContainer {
  display: grid;
  grid-template-areas:
    "about about"
    "eventList otherEvents";
  grid-template-rows: 1fr auto;
  height: 90%;
}

.about {
  grid-area: about;
  width: 100%;
}

.upcomingEvents {
  grid-area: eventList;
}

main a {
  grid-area: otherEvents;
  display: block;
  align-self: center;
}

/* OPTION 2: flex layout
.upcomingEvents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
} */

/* a list of current events on the main page */
.eventsToday {
  margin-bottom: 5px;
}
.eventsToday tr {
  border: solid black 1px;
  border-radius: 10px;
}
.eventsToday tr :hover {
  cursor: pointer;
}
.eventsToday td {
  padding: 7px;
}

/* a list of actions for events on the page Tapahtumat */
.eventListActions {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.eventListActions form {
  display: flex;
  flex-flow: row nowrap;
}
.eventListActions input {
  height: 100%;
  display: inline-block;
}

.searchAndSort {
  display: flex;
  flex-flow: row nowrap;
}

/* dropdown for the sorting button */
.eventSorting {
  position: relative;
  display: inline-block;
}
.eventSorting button {
  width: 158px;
}
.eventSorting:hover button {
  border-radius: 0%;
}
/* dropdown content (hidden by default) */
.sortingOptions {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
/* buttons inside dropdown */
.sortingOptions button {
  background-color: #ffffff;
  color: #384a50;
  border: rgb(13, 202, 240) solid 1px;
  padding: 7px 10px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.eventSorting:hover .sortingOptions {
  display: block;
}
.sortingOptions button:hover {
  background-color: rgb(13, 202, 240);
  color: black;
}

/* a list of events on the page Tapahtumat */
.eventList div {
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header date"
    "image description description";
  grid-template-columns: auto 1fr;
  padding: 10px;
  margin: 10px;
}
.eventList div .event_header {
  grid-area: header;
}
.eventList div .event_date {
  grid-area: date;
}
.eventList div img {
  display: inline-block;
  grid-area: image;
  width: 125px;
  padding: 5px;
  margin: auto;
  align-self: center;
}
.eventList div p {
  grid-area: description;
  margin-bottom: 0px;
}

a.button {
  /* Оно нам точно нужно? Сейчас ни у одного <а>-элемента нет класса "button" */ /* oй*/
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
}

/* Styling the forms doesnt work*/
.signnup,
.login {
  margin: 2;
  padding: 2;
  text-align: center;
  overflow: hidden;

  /*
  background-size: cover;
  background-position: right;
  overflow: scroll;
  */
}

.login_page,
.signnup_page {
  min-height: 100vh;
  background-image: url(kuvat/ks1.avif);
  background-size: cover;
  background-position: left;
  object-fit: cover;
  overflow: hidden;
}

/*
  --base-color: #34342e;
  --base-color: #384a50;
  --base-color: #b4dbdeff;
  --base-color: #e78a1f;
  --base-color: #d32402;
*/

.wrapper {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

/* Target the wrapper divs inside the addEvent form */
/*
.form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
*/
