header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header a {
  align-self: center;
  margin-right: 7px;
}

.otsikko {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.otsikko img,
.otsikko h1 {
  align-self: center;
}

/* LINKS TO PAGES IN HEADER - START. Will be deleted later */
/* Dropdown Button */
.navButton {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.temporaryNavigation {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.linksToPages {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.linksToPages a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.linksToPages a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.temporaryNavigation:hover .linksToPages {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.linksToPages:hover .navButton {
  background-color: #3e8e41;
}
/* LINKS TO PAGES IN HEADER - END */

.eventListActions {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.eventList div {
  width: 100%; /* надо будет добавить что-нибудь вроде display: grid для отображения дат в одной строке с заголовком, но наверно это уже завтра */
}

a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder; /* пока не до конца поняла, как именно работают эти штуки. Чуть позже почитаю материал */
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(219, 204, 204);
  color: rgb(0, 0, 0);
  text-align: center;
}
.footer a {
  display: block;
}
.footer p {
  margin-top: 5px;
  margin-bottom: 4px;
}

/* FONT poppins from google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* FONT set on ALL php */
php {
  font-family: Poppins, sans-serif;
}

/* Styling the forms*/
form {
  margin: 0;
  padding: 0;
}
